.container_2 {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
}

.col {
  flex: 0 0 33.33%; 
  max-width: 33.33%;
  padding: 1rem;
  height: 600px; 
  margin: 0 0 20px; 
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  height: 100%; 
  background-color: #f0f0f0;
}

.card img {
  width: 100%;
  height: 250px;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  text-align: right;
}

.card-descripcion {
  font-size: 0.9rem;
  text-align: justify;
  font-family: 'Lucida Console', serif;
}

@media (max-width: 768px) {
  .col {
    flex: 0 0 100%; 
    max-width: 100%;
    padding: 1rem;
    height: 600px; 
    margin: 0 0 20px; 
  }
}